*{
  margin: 0;
  padding: 0;

}

body{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f3f4f6;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    

}

.container{

    margin-top: 250px;
    text-align: center;
    width: 50%;
    border: 3px solid black;
     background-color: white;
    padding: 30px;
    border-radius: 30px;
    
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    

}
img{
    width: 100px;

}
.heading{
     font-size: 45px;
     color: #0079fe;
    
}

#display{
    font-size: 85px;
    width: 100%;
    display: inline;

     padding-left: 15px;
     padding-right: 15px;

    
}

.text{
    color: #6c757d;
    font-family: Arial, Helvetica, sans-serif;

}

.btn{
    padding: 10px ;
    border: 1px solid  #5e6063;
    font-size: 1rem;
    border-radius: .25rem;
    color: #fff;
    background-color: #0079fe;
    margin: 5px;
    width: 100px;
    margin-bottom: 50px;
    margin-top:50px ;
}

#start:hover{
    background-color:green;
    border: none;

}
#Stop:hover{
    background-color: red;
}
#reset:hover{
    background-color: black;

}

.btn:focus, .btn:active{
    outline:none;
    padding:.375rem .75rem;
}
#start{
    padding: 10px;
}